body{
    background-color:#cbe4eb;
}
.container-fluid
{
    margin:0 auto;
    max-width: 900px;
}
.headerIcon
{
    float:left;
    margin-left:10px;
    margin-right:10px
}
.sectionHeaders
{
    font-size:250%;
}
.tags
{
    padding:1px 4px;
    border-radius: 2px
}
.essayTitles
{
    text-align: center;
}
.docIcon
{
    float:left;
}